//npm run compile:sass to run in terminal.
// COLOR VARIABLE
$headline-red: #d43630;
$link-gray: #323427;
$link-white: #d5d5d5;
$link-gray-hover: #909090;
$border-black: #000000a8;
$border-dim_black: #3333334b;
$border-trasparant-light: #e9e9e9;
$nav-bg-color: #1f1f1f;
$footer-bg: #f5f5f5;
$footer-border: #666;

//MIXIN

@mixin articalAuthor{
    .artical-author{
        a{
            font-size: .9em;
        }
    }
}

@mixin cardBox{
    .card-box{
        //header
        h3{
            
            padding: 0.3em 0;
        //  a{ padding: 10px 0px;}
        }
        //artical author
        @include articalAuthor();
        
        // image and contained side by side
      
        //image of the contained
        .image{
             // flex: 2;
            display: flex;
            flex-direction: row-reverse;
            align-items: flex-start;
             gap: 0.1em;
            @include imageHover();
             padding: 1em 0;
            height:100%;
            width: 100%;
             
            p{width: fit-content;}
        }
    }
}
@mixin imageHover {
    a{ overflow: hidden; }
         img{
            height: 100%;
            width: 100%;
            display: block;
            transition: all .3s ease-in-out;
            &:hover{ transform: scale(1.2); }
        }  
}

@mixin headlinetitle{
    .title{
        
        h4{
            a{ color: $headline-red;
                &::after{
                    width: 20px;
                    content: "";
                    display: block;
                    border-bottom: solid 2px $headline-red;
                    
                }
            }
        }
    }
}
@include headlinetitle();

@mixin culterArt{
    .top-box{
        // first arical image
        .main-image{
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                display: block;
                transition: all 0.5s ease-in-out;
                &:hover{ transform: scale(1.2);}
            }
        }
        h3{
            padding: 1em 0;
        }
        p{
            padding-bottom: 1em;
        }
    }
}
//---------------------------------------------------------------------------------------------------------------------------

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: $link-gray;
    transition: all 0.5s ease-in-out;

    &:hover{
        color: $link-gray-hover;
    }
}
// container has a fixed width 
.container{
    margin: 0 auto;
    min-height: fit-content;
    max-width: 1200px;
}

// NAV BAR

.nav-menu{
    display: flex;
    justify-content: space-between;
    background-color: #1f1f1f;
    width: 100%;
    max-width: inherit;
    position: fixed;
    top: 0px;
    z-index: 99;
    padding: 0.9rem;

    .nav-left{
         align-self: center;

        ul{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            list-style: none;
            
        
             li {
                padding-right: 1em;
                
                a{
                    text-decoration: none;
                     color: #d5d5d5;
                     transition: all 0.5s ease-in-out;
                     &:hover { color: #fff;}
                 }
                 
            }
           
        }
       
    }

    .nav-right{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
        
        a{
            padding-right:0.5em;

            i{
                color: #fff;
                border-radius: 50% ;
            }
        }
    }
}

// HEADER LOGO

.header-grid{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 3.5rem ;
// logo
    .logo{
        display: block;

        a {img{
            height: 100%;
            width: 100%;
        }}
        
    }
// date to the left
    .date{
        align-self: flex-end;
    }
// slogon under the logo
    .slogon {text-align: center;}
// weather is displayed to the right
    .weather{
        display: block;
        align-self: end;
        text-align: right;
        span{ p{
            margin: 0.3em;
            
        }}
    }
}

// red boarder after head
.top-boarder{border-top: 1px solid $headline-red;}

// latest news
.latest-news {
    padding: 1em 0;

    ul{
        list-style: none;
        display: flex;
        justify-content: flex-start;
        li{
            padding-left:1em;
             
            h4{
                color: #d42620;
            }
            a{font-weight: 800;}
     }
}
    
}

// light-gray boadrder to the bottom header
.bottom-boader{ border-top: 1px solid $border-dim_black;}

//               MAIN
// headline section
.headline{
    display: flex;
    justify-content: space-between;
    align-self: center;
    column-gap: 1em;
    margin:2em 0 ;
    // grid-template-columns: 1fr 2fr 1fr;
    gap: 1em;
    padding-top: 20px;
    .left{
        // left side artical 
        flex:0 1.5 auto;
        //artical container
        @include cardBox();
    }

    .center{
        flex:0 1 auto;
        // first artical
        .top-box{
            // first arical image
            .main-image{
                overflow: hidden;
                img{
                    width: 100%;
                    height: 100%;
                    display: block;
                    transition: all 0.5s ease-in-out;
                    &:hover{ transform: scale(1.2);}
                }
            }
            h2{
                padding: 1em 0;
            }
            p{
                padding: 1em 0;
            }
        }
        //last artical
        @include cardBox();
    }

    .right{
        flex: 0 1 auto;
        @include headlinetitle();
        .artical-image{
            padding: 0.3em 0;
            h3{
                padding: 0.5em 0;
            }
            p{
                padding: 0.5em 0;
            }
            @include articalAuthor();
            .img-circle{
                img{
    
                    max-width: 15%;
                    height: auto;
                    float: right;
                    border-radius: 50%;
                    align-content: center;
                    
                }
            }
        }
    }
}

//visual stories section

.visual-stories{
    padding: 0.9em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    

        .main-image{
            overflow: hidden;
            @include imageHover();
        }
        .figcaption{
            padding: 1em 0.8em 1em 0;
            a{ h5{
                font-size: 1.2em ;
                font-weight: 800;
                }
            }
        }
    
}
.double-line{
    margin: 1em 0;
    border-top: 1px  solid black ;
    height: 4px;
    border-bottom: 1px  solid black ;
}
//GUTTER

.gutter{
    padding: 1em 0;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 1.5em;
    .latest-update{
    //title is glober style, declared right after mixin "headlinetitle"
        @include cardBox();
        // sponsor with bg-black and botom-boarder
        .badge-title{
            margin: 1em 0;
            display: block;
            width: 100%;
            border-bottom: 1px #000000 solid;
            .bg-black-title {
                padding: 0.1em 0.8em;
                background-color: $nav-bg-color;
                color: #fff;
                display: inline-block;
            }
        }
    }
    //aside
    .aside-right{
        
        .most-read{
            //title is glober style, declared right after mixin "headlinetitle"
            .table{
                margin: 1em 0;
                padding: 0.8em;
                border: solid 1px $border-trasparant-light ;
                .table-data{
                    padding: 10px;
                    display: flex;
                    flex-direction: row-reverse;
                    align-content: flex-start;
                    .block-img{
                        @include imageHover();
                        overflow: hidden;
                        width: 40%;
                    }
                    h5{
                        font-size: 1.2em;
                        width: fit-content;
                    }
                }
            }
        }
        //E-paper
        .e-paper-block{
             //title is glober style, declared right after mixin "headlinetitle"
            padding: 1.2em 0;
            .e-paper-image{
                margin: 1em 0;
                border: solid 1px $border-trasparant-light;
                .e-paper-img{
                    @include imageHover();
                    margin-left: auto;
                    margin-right: auto;
                    flex: none;
                    width: 50%;
                    overflow: hidden;
                }
                .e-paper-list{
                    list-style: none;
                    background-color: #e9e9e9;
                    display: block;
                    padding: 0.5em 0.3em;
                   }
                //    &:hover{
                //     background-color: #000000;
                //     color: #e9e9e9;
                //}
             }
        }
    }
}

.culter-art{
    display: flex;
    justify-content: space-between;
    align-self: center;
    column-gap: 1em;
    margin:2em 0 ;
    gap: 1em;
    //title is glober style, declared right after mixin "headlinetitle"
   .left{
        flex: 2;
        @include culterArt();
   }
   .center{
        flex: 1;
        @include culterArt();
   }
   .right{
        flex: 1;
        @include culterArt();
   }
}

.block-news{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    .block-newsCat{
        //title is glober style, declared right after mixin "headlinetitle"
        margin: 1em 0;
        .table{
            margin: 1em 0;
            display: block;
            height: 100%;
            border: solid 1px $border-trasparant-light ;
            
            figure{
                @include imageHover();
                overflow: hidden;
            }
            ul{
                list-style: none;
                li{
                    padding: 1em 0.5em;
                    border-bottom: solid 1px $border-trasparant-light ;
                        h5{
                            a{font-size: 1.4em;}
                        }
                    }
            }
        }
    }
}

// footer

footer{
    background: $footer-bg;
    line-height: 1.4;
    padding: 1em 0;
    .footer-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .footer-content{
            ul{
                list-style: none;
            }
            h5{
                font-size: 1em;
                padding: 1em 0;
            }
            .publication{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 0.3em;
            }
        }
    }
    .footer-boader{ 
        margin: 1em 0;
        border-top: 1px solid $footer-border;
    }
}