
  @import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.6;
   }

a{
    text-decoration: none;
    color:  #323437;
}
.container{
    /* margin-left:  25px  ;
    margin-right: 25px; */
    padding: 0 25px 0 25px;
    max-width: 100%;
    width: 100%;
}
/*--------------------------nav---------------------*/

.nav-menu{
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: #1f1f1f;
    width: 100%;
    position: fixed;
    top: 0px;

}

.nav-left{
   
}

.nav-left ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    

}

.nav-left ul li {
    padding: 0.9em 0.5em;
    
}

.nav-left ul li a{
   text-decoration: none;
    color: #d5d5d5;
    transition: all 0.5s ease-in-out;
}

.nav-left ul li a:hover{
    color: #fff;
}

.nav-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding:0px 20px 0px 0px;
    
}

.nav-right a{
    padding:0px 10px 0px 0px;
}

.nav-right a img{
    background-color: aliceblue;
    border-radius: 50px ;
    
}

/*-------------------logo----------------------*/
.header-grid{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-weight: 800;
    padding-top: 4em ;
}

.logo{
    display: block;
}
.logo a img{
    height: 15vh;
    width: 100%;
}



.header-grid .date{
    align-self: end;
  

}

.header-grid .slogon{
    text-align: center;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 0; */
}

.header-grid .weather{
    display: block;
    align-self: end;
    text-align: right;
}

 .top-boarder{
    border-top: 1px solid #d42620;
    
    
}
.latest-news {
    padding: 10px 0;
}

.latest-news ul{
    list-style: none;
    display: flex;
    justify-content: flex-start;
}

.latest-news ul li{
    
}

.latest-news ul li h4{
    padding-left:0;
    color: #d42620;
}

.latest-news ul li a{
    text-decoration: none;
    padding-left: 20px;
    color: #323437;
    font-weight: 800;
    
    
}

.bottom-boader{
    
    border-top: 1px solid #3333334b;
    
}
    

/* -------------------------------------main------------------------------------------------- */
/* ----------------Left section------------------------------- */
main{
    color:#323437;
}

main a{
    transition: all 0.5s ease-in-out;
}

main a:hover{
    color: #909090;
}
.headline{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    border-left: 1px solid 3333334b;
}

/* left */
.left{

}

.card-box{
   padding-top: 20px;
   padding-bottom: 20px;

}

.card-box h3{
    font-weight: 800;
    padding: 10px 0px;
    
}

.card-box h3 a{
   
}

.artical-author{
    padding-top: 10px;
}

.artical-author a{
  font-size: .9em;
  padding-top: 100px;
  
}

.image{
   margin-top: 10px;
}

.image  img{
    height: 15dvh;
    width: 10dvw;
    margin: 5px;
    
}

.pull-right {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    text-align: justify;
}

/* center */

.center{
  margin-right: 20px;
  margin-left: 20px;
  
}

.top-box{
    padding:20px 20px;
}

.top-box h2{
    padding:10px 0px;
}


.top-box h2 a{
    font-size: 24px;
    font-weight: 800;
    
}

.top-box p{
    padding: 10px 0px;
}

.main-image{
    overflow: hidden;
    
   
}
.main-image img{
    width: 100%;
    height: 100%;
    
    transition: all 1.1s ease-in-out;
}

.main-image img:hover{
    transform: scale(1.2);
}




